<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.solicitacaopedido.process.SolicitacaoPedido"
         name="com.solicitacaopedido.process.SolicitacaoPedido"
         point="org.adempiere.base.Process">
      <process
            class="com.solicitacaopedido.process.SolicitacaoPedido"
            priority="com.solicitacaopedido.process.SolicitacaoPedido">
      </process>
   </extension>

</plugin>
